BASE_SEPOLIA_RPC_URL=
BASESCAN_API_KEY=
DEPLOYER_PRIVATE_KEY=

PROOF_OF_AUDIT_NETWORK=base-sepolia
PROOF_OF_AUDIT_CHAIN_ID=84532
PROOF_OF_AUDIT_CONTRACT_ADDRESS=
PROOF_OF_AUDIT_EXPLORER_BASE_URL=https://sepolia.basescan.org
PROOF_OF_AUDIT_ARBITER=
PROOF_OF_AUDIT_RPC_URL=${BASE_SEPOLIA_RPC_URL}
PROOF_OF_AUDIT_PRIVATE_KEY=${DEPLOYER_PRIVATE_KEY}
PROOF_OF_AUDIT_REQUIRED_STAKE_WEI=10000000000000000
PROOF_OF_AUDIT_REQUIRED_CHALLENGE_BOND_WEI=5000000000000000
PROOF_OF_AUDIT_CHALLENGE_WINDOW_SECONDS=86400
